.App {
  text-align: center;
}

h1 {
  color: black;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%;
}

#headname {
  border: 2px solid white;
  border-radius: 15%;
  padding: 2px;
  font-size: large;
}

.heady {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 50px;
  flex-direction: column;
  float: left;
  font-size: large;
}

.piccy {
  float: right;
  padding: 20px;
  max-width: 100%;
  height: auto;
}

/* THE LABEL FOR THE TECH SKILLS BADGES */
#techskills {
  font-size: medium;
  color: white;
  border: 3px solid white;
  border-radius: 15%;
  padding: 2px;
}

/* THE BAR FOR TECH SKILLS BADGES */
.techs {
  background-color: darkgrey;
  padding: 10px;
  clear: both;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 25px;;
}

/* THE BADGES FOR TECH SKILLS */
#smalltext{
  font-weight: 170;
}

.skills {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.skill-item1 {
  border-right: 1px solid black;
  padding: 20px;
  height: 300px;
  text-align: center;
}

.skill-item2 {
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 20px;
  height: 300px;
  text-align: center;
}

.skill-item3 {
  border-left: 1px solid black;
  padding: 20px;
  height: 300px;
  text-align: center;
}

#softskillstitle {
  color: black;
  font-size: x-large;
  height: 40px;
  width: 150px;
}

.portfolio {
  padding-left: 18px;
}

#portfoliotitle {
  color: black;
  font-size: x-large;
  height: 40px;
  width: 150px;
}

.jobs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 20px 20px 100px;
  text-align: center;
  color: black;
}

.jobs a {
  text-decoration: none;
  color: green;
}

.jobs a:hover {
  color: black;
}

h4 {
  padding-top: 20px;
}

.certy {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px 30px 30px 20px;
}

#certskills {
  color: black;
  font-size: X-large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%; 
  width: 180px;
  height: 40px;
}

#certpic {
  border: 3px solid grey;
}

.testimonials {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px 30px 30px 20px;
}

#testimonialstitle {
  color: black;
  font-size: x-large;
  height: 40px;
}

.testimonial-item1 {
  padding-left: 40px;
}

/* RESUME */
#resume {
  color: black;
  font-size: X-large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%; 
  width: 180px;
  height: 40px;
}

.resume {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 30px 30px 20px;
}

#resumephoto {
  border: 2px solid grey;
}

/* BLOGS */
#blogs {
  padding-top: 50px;
}


/* PORTFOLIO */
#porty {
  color: black;
  font-size: X-large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%; 
  width: 180px;
  height: 40px;
}

#ports {
  padding-top: 50px;
}

/* CONTACT */
.contact{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px 30px 30px 20px;
}

.contacttitle {
  color: black;
  font-size: X-large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15%; 
  width: 180px;
  height: 40px;
}
